<h1>Get a form to start a new session (ie log in!)</h1>

<form action="/sessions" method="POST">
  <div>
    <label for="user_name"User Name</label>
    <input name="user_name" type="text">
  </div>
  <br>
  <div>
    <label for="password">Password</label>
    <input name="password_text" type="password">
  </div>
  <br>
  <div>
    <input name="commit" type="submit" value="Log in"/>
  </div>
</form>
