<h1>Get form for registering a new user.</h1>

<form action="/users" method="post" >
  <div>
    <label for="user_name">User Name</label>
    <input name="user[user_name]" type="text">
  </div>
  <br>
  <div>
    <label for="password">Password</label>
    <input name="user[password]" type="text">
  </div>
</form>
