<h1>Hello <%= current_user.user_name.capitalize %></h1>

<!-- A Table is a deck. Each row is a round played with that deck. -->
<!-- loop through current_user.rounds.decks  each |deck| do -->
<!-- deck.name -->
<h2>Deck Name</h2>
<h3>Your Performance</h3>
<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Cards in Deck</th>
    <th>First Guess Correct</th>
    <th>Total Guesses</th>
  </tr>
  <!-- Select all of a deck's rounds where the user_name matches current user. (deck.rounds.select {|round| round.user == current_user}) -->
   <!-- Iterate through them and print the row data for each. (deck.rounds.select {|round| round.user == current_user}.each do |round| -->
  <tr>
    <!-- round.created_at -->
    <td>June 20th</td>
    <!-- round.deck.cards.count -->
    <td>20</td>
    <!-- round.guesses.first_try.count -->
    <td>4</td>
    <!-- round.guesses.count -->
    <td>54</td>
  </tr>
</table>




