<h1>Hello <%= current_user.user_name.capitalize %></h1>



<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Cards in Deck</th>
    <th>First Guess Correct</th>
    <th>Total Guesses</th>
  </tr>
  <tr>
    <td>June 20th</td>
    <td>20</td>
    <td>4</td>
    <td>54</td>
  </tr>
  <tr>
    <td>May 9th</td>
    <td>30</td>
    <td>9</td>
    <td>70</td>
  </tr>
</table>



