<h1>Decks Index is here</h1>

  <ul>
    <% @decks.each do |deck| %>
      <li>

        <p><%= deck.name %><form method="post" action="/rounds">
          <input type="hidden" name="round[user_id]" value=<%= @user.id %>>
          <input type="hidden" name="round[deck_id]" value=<%= deck.id %>>
          <input type="submit" value="play this deck">
        </form></p>

      </li>
    <% end %>
  </ul>





